@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<form id="login-form account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="form-input">
            <input type="" asp-for="Input.Email" required />
            <label class="form-label" asp-for="Input.Email"></label>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-input">
            <input type="" asp-for="Input.Password" class="form-control" required />
            <label class="form-label" asp-for="Input.Password"></label>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-input">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </div>
    <div class="form-group">
        <div class="form-input">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
