@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form id="register-form account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="form-input">
            <input type="" asp-for="Input.Name" class="form-control" required />
            <label class="form-label" asp-for="Input.Name"></label>
        </div>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-input">
            <input asp-for="Input.Email" class="form-control" type="" required />
            <label class="form-label" asp-for="Input.Email"></label>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-input">
            <input type="" asp-for="Input.Phone" class="form-control" required />
            <label class="form-label" asp-for="Input.Phone"></label>
        </div>
        <span asp-validation-for="Input.Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-input">
            <input asp-for="Input.Address" class="form-control" type="" required />
            <label class="form-label" asp-for="Input.Address"></label>
        </div>
        <span asp-validation-for="Input.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-input">
            <input asp-for="Input.Password" class="form-control" type="" required />
            <label class="form-label" asp-for="Input.Password"></label>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-input">
            <input asp-for="Input.ConfirmPassword" class="form-control" type="" required />
            <label class="form-label" asp-for="Input.ConfirmPassword"></label>
        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
